<?xml version="1.0" encoding="UTF-8" ?>
<taglib
	xsi:schemaLocation="
		            http://java.sun.com/xml/ns/javaee 
		            http://java.sun.com/xml/ns/javaee/web-jsptaglibrary_2_1.xsd"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	version="2.1">

	<tlib-version>1</tlib-version>
	<short-name>robusta</short-name>
	<uri>http://www.robusta.io</uri>
	<tag-file>
		<name>comment</name>
		<path>/WEB-INF/tags/comment.tag</path>
	</tag-file>
</taglib>